.col {
    background-color: #6c757d;
}

h1, h2, h4, h5, form {
    font-family:'Consolas', monospace ;
}

h1 {
    background-color: #212529;
    color: #8e0dce;
}

h2 {
    background-color: #212529;
    color: #8e0dce;
}

nav {
    font-family:'Consolas', monospace ;
}

table {
    font-family:'Consolas', monospace ;
}

.btn-info {
    font-family:'Consolas', monospace ;
    background-color: #8e0dce;
    border-color: #8e0dce;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.btn-info:focus {
    background-color: #0DCE8E ;
    border-color: #0DCE8E ;
}

.btn-info:hover {
    background-color: #CE8E0D ;
    border-color: #CE8E0D ;
}

.btn-primary {
    background-color: #8e0dce;
    border-color: #8e0dce;
}

.btn-primary:focus {
    background-color: #0DCE8E ;
    border-color: #0DCE8E ;
}

.btn-primary:hover {
    background-color: #CE8E0D ;
    border-color: #CE8E0D ;
}

.btn-danger {
    background-color: #8e0dce;
    border-color: #8e0dce;
}

.btn-danger:focus {
    background-color: #0DCE8E ;
    border-color: #0DCE8E ;
}

.btn-danger:hover {
    background-color: crimson ;
    border-color: crimson ;
}

.btn-info {
    font-family:'Consolas', monospace ;
    background-color: #8e0dce;
    border-color: #8e0dce;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.btn-info:focus {
    background-color: #0DCE8E ;
    border-color: #0DCE8E ;
}

.btn-info:hover {
    background-color: #CE8E0D ;
    border-color: #CE8E0D ;
}

.btn-dark {
    background-color: #8e0dce;
    border-color: #8e0dce;
}

.btn-dark:focus {
    background-color: #0DCE8E ;
    border-color: #0DCE8E ;
}

.btn-dark:hover {
    background-color: #CE8E0D ;
    border-color: #CE8E0D ;
}
 
.btn-secondary {
    background-color: #CE8E0D ;
    border-color: #CE8E0D ;
}

.btn-secondary:hover {
    background-color: crimson ;
    border-color: crimson ;
}

.col-sm-10 {
    padding-left: 45px;
}

.form-control {
    background-color: #D7D3D9;
}

.navbar-dark .navbar-brand {
    color: #8e0dce;
}

.navbar-dark .navbar-brand:visited {
    color: #8e0dce;
}

.navbar-dark .navbar-brand:hover {
    color: #CE8E0D;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #0DCE8E;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #CE8E0D;
}

.btn-outline-primary {
    color: #fff;
    border-color: #8e0dce;
    background-color: #8e0dce;
}

.btn-outline-primary:focus {
    color: #fff;
    border-color: #0DCE8E;
    background-color: #0DCE8E;
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: #CE8E0D;
    background-color: #CE8E0D;
}

button {
    font-family:'Consolas', monospace ;
    color: #fff;
    border-color: #8e0dce;
    background-color: #8e0dce;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

button:focus {
    font-family:'Consolas', monospace ;
    color: #fff;
    border-color: #0DCE8E;
    background-color: #0DCE8E;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

button:hover {
    font-family:'Consolas', monospace ;
    color: #fff;
    border-color: #CE8E0D;
    background-color: #CE8E0D;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

body {
    text-align: center;
}

table {
    background-color: #6c757d;
    color: black;
}

.table {
    color: black;
}

.container-fluid {
    height: 100%;
    min-height: 100%
}

.fill-height {
    min-height: 100%;
    height: 100vh; 
}

html, body {
    height: 100%;
    background-color: #6c757d;
}